body{
    background-image:url(/ProyectoOficial01/imagenes/fondoProyecto.gif);
}

h1{
    color:darkblue;
    font-family:cursive;
    
}

input[type=text],input[type=password], input[type=number]
{
    background-color: lightgray;
    color:black;
}

label{
    font-family:arial;
    font-size:24px;
    font-weight: bold;

    color: white;
    padding:4px;

}
